include cressp/data/blosum62.tsv.gz
include cressp/web_application/cressp_web_viewer.html
exclude cressp/structural_property_estimation/RSA.Conv1D.5_large_and_wide_dense.epoch_082.val_loss_0.1185.hdf5
exclude cressp/structural_property_estimation/RSA.Conv1D.5_large_and_wide_dense.epoch_082.val_loss_0.1185.hdf5.download_completed.flag
exclude cressp/data/pdb/swiss_model.tsv.gz
exclude cressp/data/pdb/swiss_model.tsv.gz.download_completed.flag
exclude cressp/data/pdb/AlphaFoldStructureDB.tsv.gz
exclude cressp/data/pdb/AlphaFoldStructureDB.tsv.gz.download_completed.flag
exclude cressp/data/pdb/rcsb_pdb.tsv.gz
exclude cressp/data/pdb/rcsb_pdb.tsv.gz.download_completed.flag
exclude cressp/data/pdb/rcsb_pdb.label_seq_id.start_end.tsv.gz
exclude cressp/data/pdb/rcsb_pdb.label_seq_id.start_end.tsv.gz.download_completed.flag
exclude cressp/data/pdb/rcsb_pdb.id_model_and_label_entity_id.tsv.gz
exclude cressp/data/pdb/rcsb_pdb.id_model_and_label_entity_id.tsv.gz.download_completed.flag
exclude cressp/data/human/uniprot.tsv.gz
exclude cressp/data/human/uniprot.tsv.gz.download_completed.flag
exclude cressp/data/human/uniprot.blastp_rcsb_pdb.with_aligned_seq.filtered.tsv.gz
exclude cressp/data/human/uniprot.blastp_rcsb_pdb.with_aligned_seq.filtered.tsv.gz.download_completed.flag
exclude cressp/data/human/hmmdb_autoantigen.hmm.gz
exclude cressp/data/human/hmmdb_autoantigen.hmm.gz.download_completed.flag
exclude cressp/data/mhc_population_allele_frequency.tsv.gz
exclude cressp/data/mhc_population_allele_frequency.tsv.gz.download_completed.flag
exclude cressp/data/autoimmune_disease_associated_mhc_alleles.tsv.gz
exclude cressp/data/autoimmune_disease_associated_mhc_alleles.tsv.gz.download_completed.flag
