include cressp/data/blosum62.tsv.gz
exclude cressp/data/pdb/rcsb_pdb.tsv.gz
exclude cressp/data/pdb/rcsb_pdb.tsv.gz.download_completed.flag
exclude cressp/data/human/uniprot.tsv.gz
exclude cressp/data/human/uniprot.tsv.gz.download_completed.flag
exclude cressp/data/human/hmmdb_autoantigen.hmm.gz
exclude cressp/data/human/hmmdb_autoantigen.hmm.gz.download_completed.flag
